@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Menagment</h1>
    <p class="lead">This project is created using C# ASP.net framework, MVC and Microsoft SQL Server database.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>
            Free. Cross-platform. Open source.
            A framework for building web apps and services with .NET and C#.
        </p>
        <p><a class="btn btn-default" href="https://dotnet.microsoft.com/en-us/apps/aspnet">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>C#</h2>
        <p>C# (pronounced C sharp) is a general-purpose high-level programming language supporting multiple paradigms. </p>
        <p><a class="btn btn-default" href="https://learn.microsoft.com/en-us/dotnet/csharp/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>MVC (Model-View-Controller) is a pattern in software design commonly used to implement user interfaces, data, and controlling logic.</p>
        <p><a class="btn btn-default" href="https://developer.mozilla.org/en-US/docs/Glossary/MVC">Learn more &raquo;</a></p>
    </div>
</div>