@model LibraryMengament.Models.Gmail

@{
    ViewBag.Title = "Email Sent Successfully";
}

<h2>Email Sent Successfully</h2>

<div>
    @Html.ActionLink("Back to List", "Send")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
